<div class="flex items-center m-3">
  <app-twitter-icon class="w-8 h-8 mr-3"></app-twitter-icon>
  <app-link-button class="flex-grow" text="@mazeneko" url="https://twitter.com/mazeneko"></app-link-button>
</div>
<div class="flex items-center m-3">
  <app-github-icon class="w-8 h-8 mr-3"></app-github-icon>
  <app-link-button class="flex-grow" text="mazeneko" url="https://github.com/mazeneko"></app-link-button>
</div>
<div class="flex items-center m-3">
  <app-discord-icon class="w-8 h-8 mr-3"></app-discord-icon>
  <app-no-link-button class="flex-grow" text="id : mazeneko"></app-no-link-button>
</div>
<div class="flex items-center m-3">
  <app-discord-icon class="w-8 h-8 mr-3"></app-discord-icon>
  <app-link-button class="flex-grow" text="mix cat's (server)" url="https://t.co/S6hoKYPT9X"></app-link-button>
</div>
<div class="flex items-center m-3">
  <app-misskey-icon class="w-8 h-8 mr-3"></app-misskey-icon>
  <app-link-button class="flex-grow" text="@mazeneko@misskey.io" url="https://misskey.io/@mazeneko"></app-link-button>
</div>
<div class="flex items-center m-3">
  <app-steam-icon class="w-8 h-8 mr-3"></app-steam-icon>
  <app-link-button class="flex-grow" text="mazeneko"
    url="https://steamcommunity.com/profiles/76561198098671418"></app-link-button>
</div>