<h1 class="flex items-center">
  <app-recycle-icon class="h-7"></app-recycle-icon>
  <p>混猫のページ。</p>
</h1>

<p>これは…まぜねこのホームページです。</p>

<h2>Links</h2>

<a href="https://twitter.com/mazeneko"><app-twitter-icon class="w-10 h-10"></app-twitter-icon></a>
<a href="https://github.com/mazeneko"><app-github-icon class="w-10 h-10"></app-github-icon></a>
<a href="https://t.co/S6hoKYPT9X"><app-discord-icon class="w-10 h-10"></app-discord-icon></a>
<a href="https://misskey.io/@mazeneko"><app-misskey-icon class="w-10 h-10"></app-misskey-icon></a>