@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');
@import "./variables.scss";

* {
  font-family: 'Kaisei Opti', serif;
  color: $text-color;
}

body {
  background-color: $background-color;
}

@layer components {
  h1 {
    @apply text-2xl
  }

  h2 {
    @apply text-xl
  }

  h3 {
    @apply text-lg
  }

  h4 {
    @apply text-lg
  }

  h5 {
    @apply text-lg
  }

  h6 {
    @apply text-lg
  }
}